

 <a href="/">
      <button class="home" type=""> HOME </button>

    </a>
    <form action="/payments/{{name}}" method="post">
    <h1>These are your expense  {{{name}}}</h1>
    <h4>{{outputs}}</h4>

    </form>
 <a href="/totals">
     <button> View Expense </button> 

    </a>

