



    <h2>Login Form</h2>

     <p>Please click register if you do not have account</p>

     <a href="/register">
 <button>  Register
</button> 
    </a>

<form action="/login" method="post">
 
  <div class="container">
    <label for="uname"><b>NAME</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

  <label for="uname"><b>CODE</b></label>
    <input type="text" placeholder="Enter LastName" name="lastUname" required>
        
  
    <button type="submit">  
      
      Login   
    </button>
 

 <h4 class="error"> {{messages.error}}</h4>
 
            
   

  </div>

</form>




       