     <table class="expense" border="1">
        

            <tr>
                <th>Name</th>
                <th>category_id</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            {{#each expenseCatagory}}
            <tr>
            <td>{{Names.id}}</td>
            <td>{{this.category_id}}</td>
            <td>R{{this.amount}}</td>
            <td>{{this.dates}}</td>
            </tr>
            {{/each}}
        </table>